@model OdeToFood.Entities.Restaurant
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Name</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <div>
        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>