@model OdeToFood.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<h1>Welcome</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@Html.ActionLink(restaurant.Id.ToString(), "Details", new { id=restaurant.Id })</td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>

@section footer {
    <div>@Model.CurrentGreeting</div>
}